<% include partials/header %>
    <header>
        <h1>About Us</h1>
    </header>
    <section>
        <h2>Welcome to Daily Journal</h2>
        <p>At Daily Journal, we believe that every individual possesses the key to unlock their full potential and live a life of purpose, fulfillment, and self-discovery. Our platform is dedicated to providing you with the tools, insights, and inspiration you need to embark on a journey of personal growth and transformation.</p>
    </section>
    <section>
        <h2>Our Mission</h2>
        <p>Our mission is to empower and guide you on your path to self-discovery and personal development. We aim to:</p>
        <ul>
            <li>Inspire you to pursue your passions and dreams.</li>
            <li>Provide actionable advice and strategies for personal growth.</li>
            <li>Foster a supportive and inclusive community of like-minded individuals.</li>
        </ul>
    </section>
    <section>
        <h2>What We Offer</h2>
        <ul>
            <li><strong>Informative Articles:</strong> Dive into our collection of thought-provoking articles on personal development, self-improvement, and self-discovery.</li>
            <li><strong>Practical Resources:</strong> Access downloadable resources, worksheets, and guides designed to help you set and achieve your goals.</li>
            <li><strong>Community Engagement:</strong> Connect with a community of individuals who share your commitment to personal growth and self-discovery.</li>
        </ul>
    </section>
    <section>
        <h2>Meet the Team</h2>
        <p><strong>Founder & Editor-in-Chief: Naveen Kumar</strong></p>
    </section>
<% include partials/footer %>