<% include partials/header %>
<h2>Connect with Us</h2>
        <p>Stay updated with the latest from Life Unlocked and join our community on social media:</p>
        <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="[Your Instagram Profile URL]">Instagram</a></li>
            <li><a href="[Your Twitter Profile URL]">Twitter</a></li>
<p><%= contactContent %></p>
<% include partials/footer %>